body {
    text-align: center;
    background : lightblue;
}

h1 {
    background-color: rgb(168, 168, 235);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

ul {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    text-align: center;
    margin: left;
}

table {
    margin: auto;
}

div[id=input] {
    color:orange;
    background-color: lightblue;
}

input[type=button] {
    margin:5px;
    background-color: #4CAF50;
    color: white;
}


img {
    margin: 10px;
    width:"460";
    height:"345";
}

#value   {
    background : lightblue;
}
